<!-- Header User-->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="my-5">
    Spring E-commerce | Order summary
  </h1>

  <ol class="breadcrumb mb-5">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active">Order summary</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-9">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <u class="badge bg-success">Order</u>
            </h5>
            <ul>
              <li>
                <span style="width:30px;"><i class="fa-solid fa-user me-2" style="color: #63E6BE;"></i></span>
                <strong> Name:</strong>  {{ firstName }} {{ lastName }}
              </li>
              <li>
                <span style="width:30px;"><i class="fa-solid fa-envelope me-2" style="color: #63E6BE;"></i></span>
                <strong> Email:</strong> {{ email }}
              </li>
              <li>
                <span style="width:30px;"><i class="fa-solid fa-map-location-dot me-2" style="color: #63E6BE;"></i></span>
                <strong> Address:</strong> {{ address }}
              </li>
            </ul>

            <h5 class="card-title mb-3 mt-3">
              <u class="badge bg-success"><i class="fa-solid fa-list me-2"></i>Products</u>
            </h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{ item.productName }}</td>
                    <td>{{ item.price | currency: 'EUR' }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ (item.quantity * item.price) | currency: 'EUR' }}</td>
                    <td>
                      <button class="btn btn-danger" (click)="deleteItemCart(item.productId)">
                        <i class="fa-solid fa-trash me-2"></i>Delete
                      </button> 
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>


        <div class="col-lg-3">
          <h2 class="card-title mb-5 text-success text-center">Order summary</h2>

          <ul class="list-group">
            <li class="list-group-item">
              <h5> Total: {{ totalCart | currency: 'EUR' }}</h5>
            </li>
            <button class="btn btn-success" (click)="generateOrder()" [disabled]="isGeneratingOrder">
              <i class="fa-brands fa-paypal me-2"></i>
              Pay with Paypal
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->