 <app-header-user></app-header-user>
 <!-- Page Content -->
 <div class="container mt-5">

    <div class="card mb-3 bg-success text-white">
      <div class="row no-gutters">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Register form</h2>
          </div>
        </div>
      </div>
    </div>
	<form (ngSubmit)="registerUSer()">
      <div class="form-group">
        <label for="name" class="fw-bold">First name:</label> 
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name"
            autocomplete="off" [(ngModel)]="firstName"
        >
      </div>
	  
	   <div class="form-group">
        <label for="surname" class="fw-bold">Second name:</label> 
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter your last name" 
            autocomplete="off" [(ngModel)]="lastName"
        >
      </div>

      <div class="form-group">
        <label for="email" class="fw-bold">Email:</label> 
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" 
            autocomplete="off" [(ngModel)]="email"
        >
      </div>

      <div class="form-group">
        <label for="address" class="fw-bold">Address:</label> 
        <input type="text" class="form-control" id="address" name="address" placeholder="Ingrese su dirección" 
            autocomplete="off" [(ngModel)]="address"
        >
      </div>
	   <div class="form-group">
        <label for="cellPhone" class="fw-bold">Phone number:</label> 
        <input type="text" class="form-control" id="cellPhone" name="cellPhone" placeholder="Enter your phone number" 
            autocomplete="off" [(ngModel)]="cellPhone"
        >
      </div>

      <div class="form-group">
        <label for="password" class="fw-bold">Password</label> 
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" 
            autocomplete="off" [(ngModel)]="password"
        >
      </div>
      <div class="col-sm-2 mt-3">
        <button type="submit" class="btn btn-success fw-bold"><i class="fa-solid fa-user-plus me-2"></i>Save</button>
      </div>
    </form>
  </div>