body {
    padding-top: 56px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.product-box img {
  width: 250px;
  padding-bottom: 50px;
}

.product-show{
  padding-bottom: 20px;
}

a.primary-btn:hover{
  background:#0da8e4;
  color:#fff
}

.price{
  margin:15px 0 0;
  font-weight:800;
  color:#0da8e4
}

.product-box h2{
  font-size:18px;
  padding-bottom:0;
  font-weight:500;
  color:#585858
}

/* 
 * ----------------------------
 * Footer
 * ----------------------------
 */



app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  max-height: 80px;
}

