<app-header-admin></app-header-admin>
<!-- Page Content List Categories-->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-5">
        Spring E-commerce | Categories
    </h1>

    <ol class="breadcrumb mb-5">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>

    <a class="btn btn-primary mb-4" routerLink="/admin/category/addcategory">New Category</a>
    <h2>Categories</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let category of categories; trackBy: trackById">
                <td>{{ category.name }}</td>                
                <td><button class="btn btn-warning" [routerLink]="['/admin/category/update', category.id]">Edit</button> </td>
                <td><button class="btn btn-danger" (click) = "deleteCategoryById(category.id)">Delete</button>
            </tr>
        </tbody>
    </table>

</div>

