<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <img src="assets/images/accessDenied.jpg" alt="Access denied" class="img-fluid mb-4" style="max-height: 250px;">
  
            <h2 class="text-danger">Access denied</h2>
            <p class="lead fw-bold">Sorry, you have not the required permissions to access this resource</p>
            
            <div class="mt-4">
              <a routerLink="/" class="btn btn-success">Back to home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  